.cadreCo {
    display: inline-block;
    font-family: Arial;
    border: 2px solid rgba(55, 5, 56, 0.5);
    border-radius: 10px;
    padding: 5px 30px;
    background-color: rgba(108, 29, 110, .5);
}

.cadreCo label {
    color: white;
}

.cadreIn  {
    display: inline-block;
    font-family: Arial;
    border: 2px solid rgba(55, 5, 56, 0.5);
    border-radius: 10px;
    padding: 5px 30px;
    background-color: rgba(108, 29, 110, .5);
}

.cadreIn label {
    color: white;
}

input {
    border-radius: 10px;
    border: transparent;
}

select {
    border-radius: 10px;
}
