/* Tag setup */

html {
  overflow-y: scroll;
}

body {
  background-image: url('/pics/fond_rock.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% auto;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
  font-family: Arial;
  border-left: 2px black;
  border-bottom: 2px black;

}

h2 {               /* Titre + banière */
  font-family: Arial;
  color: white;
  text-align: center;
  padding: 30px;
}

table {
  padding-top: 10px;
  margin-left: auto ;
  margin-right: auto;
}

button {
  display: inline-block;
}

.centrer {
  text-align: center;
}

.logo {
  max-width: 50%;
  width: 300px;
	height: auto;
  padding: 2% 2% 2% 2%;
  border-radius: 30%;
}
/* Ancienne banière

.module {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.module:after {
  content: '';
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: white;
  z-index: -1;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
}*/


/* Fond de la barre de navigation */


.navbar {
    overflow: hidden;
    background-color: #C87538;
    font-family: Arial;
    text-align: center;
    border-radius: 20px;
    width: auto;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  
  /* Liens de la barre de navigation */
  .navbar a {
    display: inline-block;
    float: none;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  /* The dropdown container */
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* liste bouton compte */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Couleur lorsque le curseur est sur un des lien de la barre de navigation */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #E8AB50;
  }
  
  /* Contenue de la liste */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Liens dans la liste */
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* Couleurs de fond lorsque le curseur est sur le lien */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  /* Affiche la liste lorsque le curseur est sur le bouton */
  .dropdown:hover .dropdown-content {
    display: block;
  }

  /* Carré pour afficher les evenements à venir */

  .centrer {
    text-align: center;
  }
  
  .logo {
    max-width: 50%;
    width: 300px;
    height: auto;
    padding: 2% 2% 2% 2%;
    border-radius: 30%;
  }

  .conteneur {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: rgba(255, 255, 255, 0.5);
    margin: 5% 5% 5% 5%;
  }

  .box {
    background-color: rgb(78, 17, 70);
    margin: 1% 1% 1% 1%;
    width: auto;
    height: auto;
    min-width: 20%;
    min-height: 80%;

    border-radius: 10px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }

  .img {
    grid-column: 1;
    grid-row: 2/3;

  }

  .titre {
    grid-column: 1/2;
    grid-row: 1;
  }

  .descrip {
    grid-column: 2;
    grid-row: 2;
  }

  .info {
    grid-column: 2;
    grid-row: 3;
  }

  .boutton {
    grid-column: 1/2;
    grid-row: 4;
  }
  /*.post_gauche {
    margin-left: 20%;
    margin-right: 80%;
  }

  .post_droite {
    margin-right: 20%;
    margin-left: 80%;
  }*/

  .centerTable {
    margin-left: auto;
    margin-right: auto;
  }